@{
    ViewData["Title"] = "Login";
    Layout = null; // No utilizar layout
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - MCol.Web</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/custom.css">
    <link href="~/lib/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <script src="~/lib/fontawesome/js/fontawesome.js"></script>
</head>
<body>
    <div class="div-imagen" style="background-image:url('/images/paisajes-bonitos-de-colombia-eje-cafetero-triángulo-del-cafe.jpg');background-size: cover;
           background-position: center;
           background-repeat :no-repeat;">
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row w-100">
            <div class="col-md-6 offset-md-3">
                <div class="card shadow-lg">
                    <div class="card-header bg-dark text-white text-center">
                        <h3>Login</h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="Login">
                            <div class="mb-3">
                                <label for="Username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="Username" name="Username" placeholder="Enter your username" required>
                            </div>
                            <div class="mb-3">
                                <label for="Password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="Password" name="Password" placeholder="Enter your password" required>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-dark btn-block">Login</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="text-muted">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
